img{
    display: block;
    margin: auto auto;
}
fieldset{
    border: none;
}
#loginFormContainer{
    width: 325px;
    margin: auto auto;
}
#loginForm{
    width: 325px;
    background-color: #66CCFF;
    border-radius: 15px;
    padding: 10px;
}
#loginSubmitButton{
    background-color: #FFFF00;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 125px 5px 125px;
    border: none;
}
.label1{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 13px;
}
#username, #password{
    width: 290px;
    height: 22px;
}
.menubar{
    background-color: #66CCFF;
}
#logout{
    float: right;
}
.header{
    background-color: #FFFF00;
    padding: 8px;
    font-weight: bold;
}
.message{
    padding-left: 8px;
}
#composeMsgContainer{
    width: 700px;
}
#userlist{
    float: left;
    width: 300px;
}
.u1{
    background-color: #99CCFF;
}
.u2{
    background-color: #FFFF99;
}
#composeForm{
    float: right;
    width: 400px;
}
#subject, #recipients{
    width: 290px;
}
.label2{
    display: inline-block;
    text-align: left;
    width: 70px;
    padding-right: 5px;
}
.buttonLayout{
    width: 108px;
    margin: auto;
}
input[type=button]{
    background-color: #66CCFF;
    border-radius: 3px;
    border: none;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
}